<div class="bootstrap-wrapper"> 
    <div class="container">
    
      <!-- <h1>Welcome to Examportal!!!!</h1> -->
    <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="mt-auto">
    <div class="container text-center">
<img src="../../../assets/examportallogo.png" style="width:20%;height:20%;" alt="examportal logo">


    </div>
        
        <mat-card-title class="text-center ">Register Here!!!</mat-card-title>

        <form (ngSubmit)="formSubmit()">
<!-- user name field -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input required [(ngModel)]="user.username" name="username" matInput placeholder="Enter here">
                <mat-hint>Username must be unique</mat-hint> 
            </mat-form-field>



<!-- password field -->
<mat-form-field class="full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input required
    [(ngModel)]="user.password" name="password"
    type="password" matInput placeholder="Enter Password here">
  </mat-form-field>


<!-- first name -->
<mat-form-field class="full-width" appearance="outline">
    <mat-label>First Name</mat-label>
    <input  required 
    [(ngModel)]="user.firstname" name="firstname"
    matInput placeholder="Enter First Name here">
  </mat-form-field>
<!-- last name -->
<mat-form-field class="full-width" appearance="outline">
    <mat-label>Last Name</mat-label>
    <input required
    [(ngModel)]="user.lastname" name="lastname"
    matInput placeholder="Enter Last Name here">
  </mat-form-field>

<!-- email -->

<mat-form-field class="full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input required
    [(ngModel)]="user.email" name="email"
    type="email" matInput placeholder="Enter Email here">
  </mat-form-field>

<!-- phone number -->
<mat-form-field class="full-width" appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input required 
    [(ngModel)]="user.phone" name="phone"
    type="number" matInput placeholder="Enter Phone Number here">
  </mat-form-field>


<div class="container text-center">


<button  mat-raised-button color="primary" type="submit">Register</button>
<button  mat-raised-button color="accent" style="margin-left: 20px;" type="reset">Reset</button>

</div>
   
        </form>
      </mat-card>
    </div>
    <!-- {{user|json}} -->


    </div>
    
    </div>
    </div>
    
    